# General 
.DS_Store

# Distribution / packaging
build/

# Python
.venv
.ipynb_checkpoints
__pycache__/*
*/__pycache__/*

# R
.Rhistory
.Rproj.user


# not shared due to data restrictions
code/BrainCharts/*
code/processv43/*
synthetic_data_generation.ipynb
