# General 
.DS_Store

# Distribution / packaging
build/

# Python
.venv
.ipynb_checkpoints
__pycache__/*
*/__pycache__/*

# R
.Rhistory
.Rproj.user


# not shared due to data restrictions
code/BrainCharts/*
code/processv43/*
code/Simple-Brain-Plot
synthetic_data_generation.ipynb
tmp_dhcp_release_comparison.ipynb
Fig1.ipynb
outputs/tmp/Fig*
outputs/source_data/*
outputs/consistency_microscale/all_correlations_cell_types.csv
best_meeting_percentages.ipynb

# TRANSIENT
outputs/consistency_microscale_old
outputs/consistency_microscale/*
code/3_microscale*
code/imaging_transcriptimics.py
requirements.txt


